ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  color: $secondary-font-color;
}

body {
  font-family: $primary-font-family;
  margin: 0;
  padding: 0;
  height: 100%;
}

.modal-bg {
  position: relative;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    z-index: 998;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
  }
}

.container {
  min-width: $width-xs-device - 30px;
  max-width: $width-lg-device;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.no-js .main-menu__list {
  display: block;
}

@media (min-width: $width-lg-device + 30px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
