          /*font-family*/
$primary-font-family: "MyriadPro", "Arial", sans-serif;
$secondary-font-family: "ProximaNova", "Arial", sans-serif;

$primary-btn-color: #488bf8;
$secondary-font-color: #9ca0a5;
           /*device width*/
$width-xs-device: 320px;
$width-sm-device: 768px;
$width-md-device: 992px;
$width-lg-device: 1200px;
