.advertaise-us {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.advertaise-us__text {
  font-family: $primary-font-family;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.advertaise-us__btn {
  font-family: $primary-font-family;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background-color: #000000;
  border-radius: 15px;
  text-decoration: none;
  padding: 13px 50px;
  padding-bottom: 16px;

  @include hover-effects;
}


@media (min-width: 930px) {
  .advertaise-us {
    width: auto;
    margin: 0 auto;
  }
}
