.aside {
  margin: 0 auto;
  margin-top: 20px;

  &--search-page {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    justify-content: space-around;
    flex: 1;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
  }
}

.aside__item {
  display: block;
  height: 339px;
  padding: 0;
  width: 211px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  @include hover-effects;
  &--first {
    background-image: url("../img/aside-1.jpg");
  }
  &--second {
    background-image: url("../img/aside-2.jpg");
  }
  &--bedroom {
    min-width: 275px;
    height: 95px;
    margin-bottom: 5px;
    background-image: url("../img/aside-3.jpg");
  }
  &--move {
    min-width: 275px;
    height: 95px;
    margin-bottom: 5px;
    background-image: url("../img/aside-4.jpg");
  }
  &--tree {
    min-width: 275px;
    width: 275px;
    height: 200px;
    background-image: url("../img/aside-5.jpg");
  }
}

@media (min-width: 630px) {
  .aside__wrapper {
    margin-right: 30px;
  }
}

@media (min-width: 696px) {
  .aside {
    &--search-page {
      margin-left: auto;
    }
  }
}

@media (min-width: 1200px) {
  .aside {
    &--search-page {
      max-width: 324px;
      margin-left: auto;
    }
  }
}
