.breadcrumbs--found .breadcrumbs__link {
  font-size: 18px;
  color: gray;;

  &--home {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
    fill: gray;
  }
}

.breadcrumbs--found .breadcrumbs__item {
  margin-right: 35px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 14px;
    right: -25px;
  }
  &::after {
    top: 9px;
    transform: rotate(30deg);
  }
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -20px;
    transform: rotate(-30deg);
    display: block;
    width: 10px;
    height: 1px;
    background-color: #000000;
  }

  &::after {
    top: 5px;
    transform: rotate(30deg);
  }
  &:last-child {
    &::before,
    &::after {display: none;}
  }
}

.breadcrumbs__link {
  color: #000000;
  text-decoration: none;
  @include hover-effects;
}

.breadcrumbs__link--active {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
