.info {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
}

.info__item {
  margin-bottom: 30px;
  margin: 0 20px;
}

.info__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: $primary-font-family;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 7px;

  @include hover-effects;
  &:hover {
    color: $primary-btn-color;
  }
  &:active {
    opacity: 1;
  }
}

@media (min-width: 862px) {
  .info {
    margin-left: 50px;
  }
}
