.paginations {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.paginations__page {
  display: inline-block;
  padding: 10px 5px;
  width: 20px;
  margin: 10px 5px;
  color: #99999e;
  border: 1px solid #eeeeee;
  text-decoration: none;

  @include hover-effects;
  &:hover {
    background-color: $primary-btn-color;
  }
  &--active {
    background-color: $primary-btn-color;
    cursor: default;
    color: #ffffff;
    &:hover {
      opacity: 1;
    }
  }
}

.paginations__next-page {
  position: relative;
  text-align: right;
  margin-left: auto;
  margin-right: 30px;
  color: #444444;
  text-decoration: none;
  font-weight: 700;

  @include hover-effects;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 11px;
    right: -20px;
    transform: rotate(-30deg);
    display: block;
    width: 10px;
    height: 1px;
    background-color: #000000;
  }

  &::after {
    top: 7px;
    transform: rotate(30deg);
  }
}

.paginations__name {
  margin-left: auto;
  font-weight: 700;
  letter-spacing: 1px;
}
