.reviews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &--aside {
    width: auto;
    flex: 1;
  }
}

.reviews__figure {
  margin: 10px 0;
  text-align: center;
  padding: 0;
}

.reviews__title {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 70px;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: #dc51a0;
  }
  &--aside {
    &::before {
      display: none;
    }
  }
}

.reviews__name {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #70cbda;
}
