.search {
  background-color: #515b62;
  text-align: center;
  transition-duration: 0.5s;
}

.search__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.search__label {
  position: relative;
  flex: 1;
  margin: 10px 5px;
  min-width: 200px;
  box-sizing: border-box;
  padding: 0;

  &--input {

    &::before {
      top: 50%;
      left: 10px;
      z-index: 999;
      transform: translateY(-50%);
      @include set-icon(url("../img/svg/002-magnifying-glass.svg"), 25px, 27px);
    }
    &::after {
      content: "394 properties available";
      position: absolute;
      bottom: 5px;
      left: 50px;
      font-size: 14px;
      color: $primary-btn-color;
      display: inline;
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    &::before {
      top: 50%;
      left: 10px;
      z-index: 999;
      transform: translateY(-50%);
      @include set-icon(url("../img/svg/002-magnifying-glass.svg"), 25px, 27px);
    }
    &::after {
      content: "394 properties available";
      position: absolute;
      bottom: 5px;
      left: 50px;
      font-size: 14px;
      color: $primary-btn-color;
      display: inline;
    }
  }

  &--select {

    &::before {
      top: 50%;
      left: 10px;
      z-index: 999;
      transform: translateY(-50%);
      @include set-icon(url("../img/svg/001-users.svg"), 25px, 27px);
    }
    &::after {
      content: "1 room";
      position: absolute;
      bottom: 5px;
      left: 55px;
      font-size: 14px;
      color: #9f9f9f;
      display: inline;
    }
  }
}

.search__input {
  position: relative;
  padding: 15px 20px;
  padding-left: 50px;
  padding-bottom: 30px;
  height: 60px;
  box-sizing: border-box;
  width: 100%;

  @include hover-effects;
}

.search__select {
  width: 100%;
  position: relative;
  padding: 2px 20px;
  padding-left: 50px;
  padding-bottom: 15px;
  height: 60px;
  box-sizing: border-box;
  @include hover-effects;

  &:disabled {
    opacity: 0.4;
  }
}

.search__select option {
  color: #000000;
  font-size: 20px;
  padding: 5px 0;
}

.search__btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  outline: none;
  border: none;
  background-color: $primary-btn-color;
  padding: 15px 50px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  @include hover-effects;

  &:disabled {
    opacity: 0.3;
  }
}
