.search-result {
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #dddddd;
  max-width: 880px;
}

.search-result__wrapper {
  max-width: 880px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.search-result__btn {
  display: block;
  width: 100%;
  background-color: #3bbea4;
  border: none;
  outline: none;
  padding: 30px 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  max-width: 180px;
  max-width: 100%;
  text-align: center;
  height: auto;
  box-sizing: border-box;
  white-space: pre-line;

  @include hover-effects;
  &:hover {
    opacity: 1;
    background-color: #2ddbb8;
  }
  &:active {
    opacity: 1;
    color: $primary-btn-color;
  }
}

.search-result__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  margin: 10px 15px;
}

.search-result__label-text {
  color: #b0b0b3;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: $primary-font-family;
}

.search-result__select {
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;

  @include hover-effects;
}

.search-result__select option {
  padding: 20px;
}

@media (min-width: 744px) {
  .search-result__btn {
    max-width: 180px;
    margin: 0;
  }
}
