.title-post {
  display: none;
  background-color: #3bbea4;
  box-sizing: border-box;
}

.title-post__title {
  width: 100%;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

@media(min-width: 1200px) {
  .title-post {
    display: block;
  }
}
