.title-post {
  background-color: #f3f8fb;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.title-post__title {
  color: gray;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 10px;
}
